@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');
body {
    background-color: #F5FFF6;
}
* {
    font-family: Mukta, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
